@charset "UTF-8";

.page-layout {
	display: flex; /* Flexbox로 사이드바와 메인 컨테이너 나란히 배치 */
	min-height: 100vh; /* 화면 전체 높이 */
	margin: 0;
}

/* 사이드바 스타일 */
.sidebar {
	width: 250px;
	background-color: #f4f4f4;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	height: 100vh; /* 화면 전체 높이 */
	position: relative; /* 다른 요소와 충돌 방지 */
}

/* 메인 컨테이너 스타일 */
.container {
	flex: 1; /* 남은 공간 차지 */
	padding: 20px;
	background: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 20px;
}

/* 헤더 스타일 */
header h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}

/* 검색 박스 스타일 */
.search-box {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.search-box input {
	width: 200px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 10px;
}

.search-box button {
	padding: 8px 15px;
	border: none;
	background-color: #5e3bee;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

/* 테이블 스타일 */
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table thead {
	background-color: #f4f4f4;
}

table th, table td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

/* 삭제 버튼 스타일 */
.delete-btn {
	background-color: #d9534f;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.delete-btn:hover {
	background-color: #c9302c;
}

/* 페이지네이션 스타일 */
.pagination {
	text-align: center;
}

.pagination a {
	text-decoration: none;
	margin: 0 5px;
	padding: 5px 10px;
	color: #007bff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.pagination a:hover {
	background-color: #007bff;
	color: white;
}

.admin-icons a {
	margin-left: 15px;
}

 .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip);  /* HTML 속성에서 툴팁 내용 가져오기 */
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  bottom: 120%; /*  툴팁 위치 - 이미지 위에 표시 */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-size: 14px;
}


.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
} 